<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Donald Dose</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h1>Donald Dose App</h1>
                <p>What has Donald been doing?</p>
                <a href="/search"><button class="launch-button">MAGA!</button></a>
            </div>
        </div>
    </div>
</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/foundation.js"></script>
    <script> 
        $(document).foundation(); 
    </script> 
</html>
