<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Daily Dose of Donald</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css">
        <SCRIPT TYPE="text/javascript"> function popup(mylink, windowname) { if (! window.focus)return true; var href; if (typeof(mylink) == 'string') href=mylink; else href=mylink.href; window.open(href, windowname, 'width=400,height=200,scrollbars=yes'); return false; } </SCRIPT>
    </head>
    <body>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div class="round-button"><div class="round-button-circle"><a href="/home" class="round-button">MAGA</a></div></div>
            </div>
        </div>
    </div>
    <div class="help-button"><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Help</a></div>
    
    <div id="light" class="white_content">Click the button! <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
    </div>
    <div id="fade" class="black_overlay"></div>
</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/foundation.js"></script>
    <script> 
        $(document).foundation(); 
    </script> 
</html>