<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Daily Dose of Donald</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div class="round-button"><div class="round-button-circle"><a href="/search" class="round-button">MAGA</a></div></div>
            </div>
        </div>
    </div>
</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/foundation.js"></script>
    <script> 
        $(document).foundation(); 
    </script> 
</html>