<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Daily Dose of Donald</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body class ="home">
    <div id="container">
            <div class="leftcol">
		        <p> Executive Orders </p>
            </div>


             <div class="right-bottom-box">
             <p> Income Brackets </p>
             </div>
    </div>    
</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/foundation.js"></script>
    <script> 
        $(document).foundation(); 
    </script> 
</html>
